.contents{
    display: flex;
    justify-content: flex-end;
    padding: 7vh 0;
    align-items: center;
}

.contents_text{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    padding: 0 4vw;
}

.button_styling{
    background-color: black;
    color: white;
    padding: 0 2vw;

}

.button_styling:hover{
    background-color: white;
    color: black;
}
